#imageholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#imageholder img {
  height: 250px;
  margin-bottom: 30px;
}

body {
background-color: #2F303B;
}

.tab { margin-left: 100px; 
       margin-right: 500px;
      }

